<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <%- include("./partials/statsCollective.ejs")%>
    <%- include("./partials/featureCard.ejs") %>
    <%- include("./partials/featureCard1.ejs") %>
    <%- include("./partials/featureCard2.ejs") %>
  </body>
</html>
